@import "../../assets/styles/variables.scss";

.dev-stages {
  padding: 130px 16px;
  @media (max-width: $breakpoint_lg) {
    padding: 100px 16px;
  }

  @media (max-width: $breakpoint_sm) {
    padding: 70px 16px;
  }
  .dev-stages__description {
    width: 75%;
    text-align: center;
    margin-top: 20px;
    @media (max-width: $breakpoint_sm) {
      width: 100%;
    }
  }

  .dev-stages-wrapper-cards {
    margin-top: 50px;
    width: 100%;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .dev-stages-card {
      width: 48%;
      background-color: var(--background-color-light-grey);
      padding: 25px;
      display: flex;
      align-items: center;

      @media (max-width: $breakpoint_lg) {
        width: 45%;
      }

      @media (max-width: $breakpoint_md) {
        width: 90%;
      }

      @media (max-width: $breakpoint_sm) {
        width: 100%;
      }
      .dev-stages-card__number {
        min-width: 100px;
        height: 100px;
        margin-right: 25px;
        background-color: var(--background-color-blue);
        font-weight: 700;
        font-size: 96px;
        line-height: 46px;
        font-family: $poppins-font;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-white);

        @media (max-width: $breakpoint_lg) {
          font-size: 64px;
          line-height: 46px;
          min-width: 80px;
          height: 80px;
        }
      }
      .stages-card-text {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        .stages-card-text__title {
          color: var(--color-blue);
        }

        .stages-card-text__subtitle {
            word-break: break-all;
        }
      }
    }
  }
}
