@import "../../assets/styles/variables.scss";

.our-projects {
  margin-top: 89px;
  padding: 101px 16px;
  .our-projects__title {
  }

  .our-projects-menu-sort {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .our-projects-menu-item + .our-projects-menu-item {
      margin-left: 40px;
    }

    .our-projects-menu-item {
      @media (max-width: $breakpoint_sm) {
        font-size: 16px;
      }
      @media (max-width: $breakpoint_xs) {
        font-size: 14px;
      }
      .our-projects-item__btn {
        font-weight: 400;
        &:hover {
          color: var(--color-orange);
        }
      }
      .our-projects-item__btn_active {
        font-weight: 400;
        color: var(--color-orange);
      }
    }
  }

  .our-projects-wrapper {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    min-height: 200px;
    .our-projects-project-container {
      width: 48.6%;
      padding: 28px 28px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      overflow: hidden;
      @media (max-width: $breakpoint_xl) {
        width: 100%;
        padding: 28px 0 0 0;
      }
      .our-projcets-projects-wrapper-text {
        margin-left: 28px;
        @media (max-width: $breakpoint_xl) {
          margin-bottom: 20px;
        }
        .our-projects-project__title {
          color: var(--color-white);
        }
        .our-projects-project__subtitle {
          color: var(--color-white);
        }
      }
      img {
        margin-top: auto;
      }
      .our-projects-project__button {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-white);
        padding: 14px;
        transform: translateY(50px);
        @media (max-width: $breakpoint_xl) {
          transform: none;
          position: relative;
        }
      }
      .our-projects-project__button_active {
        animation: ani 1s forwards;
      }

      .aqua-btn {
        border: solid 1px var(--color-aqua);
        border-top: 0px;
        &:hover {
          background-color: var(--background-color-aqua);
          color: var(--color-white);
        }
      }
      .blue-btn {
        border: solid 1px var(--color-blue);
        border-top: 0px;
        &:hover {
          background-color: var(--background-color-blue);
          color: var(--color-white);
        }
      }
      .pink-btn {
        border: solid 1px var(--color-pink);
        border-top: 0px;
        &:hover {
          background-color: var(--background-color-pink);
          color: var(--color-white);
        }
      }
    }

    .pink {
      background-color: var(--background-color-pink);
    }
    .aqua {
      background-color: var(--background-color-aqua);
    }
    .blue {
      background-color: var(--background-color-blue);
    }
  }
}

@keyframes ani {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
