@import "../../../assets/styles/variables.scss";

.our-profile {
  padding: 130px 16px;
  background-color: $background-color-light-grey;
  @media (max-width: $breakpoint_sm) {
    padding: 70px 16px;
  }
  .our-profile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .our-profile-label {
      text-align: center;
      padding: 6px 14px;
      background-color: $background-color-blue;
      color: $background-color-white;
    }

    .our-profile__title {
      width: 40%;
      margin-top: 20px;
      @media (max-width: $breakpoint_xxl) {
        width: 50%;
      }
      @media (max-width: $breakpoint_xl) {
        width: 59%;
      }
      @media (max-width: $breakpoint_lg) {
        width: 75%;
      }
      @media (max-width: $breakpoint_md) {
        width: 90%;
      }
      @media (max-width: $breakpoint_sm) {
        width: 100%;
      }
    }

    .our-profile__subtitle {
      margin-top: 20px;
      width: 55%;
      text-align: center;
      @media (max-width: $breakpoint_lg) {
        width: 100%;
      }
    }
  }
}
