@import "../../../assets/styles/variables.scss";

.about-us {
  margin-top: 89px;
  padding: 10px 16px;
  width: 100%;
  @media (max-width: $breakpoint_xl) {
    padding: 70px 92px 0px;
  }
  @media (max-width: $breakpoint_lg) {
    padding: 70px 50px 0px;
  }
  @media (max-width: $breakpoint_md) {
    padding: 70px 16px 0px;
  }

  .about-us-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    @media (max-width: $breakpoint_xl) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .about-us-block-description {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 70px;
      @media (max-width: $breakpoint_xl) {
        margin-bottom: 20px;
        width: 100%;
      }
      .about-us-label {
        padding: 6px 14px;
        background-color: $background-color-dark-orange;
        color: $background-color-white;
      }
      .about-us__title {
        margin-top: 20px;
      }

      .about-us__description {
        margin-top: 20px;
      }
    }

    .about-us-block-img {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      @media (max-width: $breakpoint_xl) {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      @media (max-width: $breakpoint_md) {
        width: 60%;
      }
      .about-us-block-img__phone1 {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
      }
      .about-us-block-img__phone2 {
        -webkit-transform: translateX(-180px);
        -ms-transform: translateX(-180px);
        transform: translateX(-180px);
        @media (max-width: $breakpoint_md) {
          -webkit-transform: translateX(-140px);
          -ms-transform: translateX(-140px);
          transform: translateX(-140px);
        }
        @media (max-width: $breakpoint_sm) {
          -webkit-transform: translateX(-100px);
          -ms-transform: translateX(-100px);
          transform: translateX(-100px);
        }
        @media (max-width: $breakpoint_xs) {
          -webkit-transform: translateX(-60px);
          -ms-transform: translateX(-60px);
          transform: translateX(-60px);
        }
      }
    }
  }
}
