@import "../../../assets/styles/variables.scss";

.about-us {
  margin-top: 89px;
  padding: 10px 16px;
  width: 100%;
  @media (max-width: $breakpoint_xl) {
    padding: 70px 92px 0px;
  }
  @media (max-width: $breakpoint_lg) {
    padding: 70px 50px 0px;
  }
  @media (max-width: $breakpoint_md) {
    padding: 70px 16px 0px;
  }

  .about-us-container {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    @media (max-width: $breakpoint_xl) {
      flex-direction: column;
    }
    .about-us-block-description {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 70px;
      @media (max-width: $breakpoint_xl) {
        margin-bottom: 20px;
        width: 100%;
      }
      .about-us-label {
        padding: 6px 14px;
        background-color: var(--background-color-dark-orange);
        color: var(--color-white);
      }
      .about-us__title {
        margin-top: 20px;
      }

      .about-us__description {
        margin-top: 20px;
      }
    }

    .about-us-block-img {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      @media (max-width: $breakpoint_xl) {
        width: 100%;
        justify-content: center;
      }

      @media (max-width: $breakpoint_md) {
        width: 60%;
      }
      .about-us-block-img__phone1 {
        transform: translateY(-20px);
      }
      .about-us-block-img__phone2 {
        transform: translateX(-180px);
        @media (max-width: $breakpoint_md) {
          transform: translateX(-140px);
        }
        @media (max-width: $breakpoint_sm) {
          transform: translateX(-100px);
        }
        @media (max-width: $breakpoint_xs) {
          transform: translateX(-60px);
        }
      }
    }
  }
}
