@import "../../../assets/styles/variables.scss";

.rewiews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: $background-color-light-grey;
  padding: 130px 0;
  .rewiews-label {
    padding: 6px 10px;
    background-color: $background-color-light-orange;
    margin: 0 auto;
  }
  .swiper {
    overflow: hidden;
    position: relative;
    margin-top: 28px;
    .swiper-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;

      .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        overflow: hidden;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-touch-action: none;
        touch-action: none;

        .slide {
          width: 100%;
          overflow: hidden;
          position: relative;
          padding: 20px 20px 40px 20px;
          background-color: $background-color-white;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          @media (max-width: $breakpoint_md) {
            padding: 20px;
          }
          .rewiews-wrapper-avatar {
            width: 15%;
            margin-right: 30px;
            @media (max-width: $breakpoint_md) {
              display: none;
            }
            @media (max-width: $breakpoint_xl) {
              margin-right: 15px;
              width: auto;
            }
          }
          .reviews-wrapper-info {
            width: 85%;
            @media (max-width: $breakpoint_md) {
              width: 100%;
            }
            .reviews-info__place {
              margin-top: 15px;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
            }

            .reviews-info__work {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: $color-dark-orange;
            }

            .reviews-info__comment {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
}
