@import "../../../assets/styles/variables.scss";

.price {
  padding: 130px 16px;
  @media (max-width: $breakpoint_sm) {
    padding: 70px 16px;
  }

  .price-wrapper {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: $breakpoint_xl) {
      gap: 20px;
    }
    @media (max-width: $breakpoint_lg) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 10px;
    }
    @media (max-width: $breakpoint_md) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .price-item-block {
      background-color: $background-color-light-grey;
      padding: 25px;
      width: 24.5%;
      min-height: 180px;
      @media (max-width: $breakpoint_lg) {
        width: 49%;
      }
      @media (max-width: $breakpoint_md) {
        width: 75%;
      }
      @media (max-width: $breakpoint_sm) {
        width: 100%;
      }

      .price-item__time {
        margin-top: 15px;
      }
    }
  }
}
