@import "../../../assets/styles/variables.scss";

.service {
  padding: 130px 10px;
  @media (max-width: $breakpoint_sm) {
    padding: 70px 10px;
  }
  .service-label {
    padding: 6px 10px;
    background-color: var(--background-color-blue);
    color: var(--color-white);
  }

  .service-wrapper-title {
    text-align: center;
    .service__title {
      margin-top: 20px;
    }
  }
  .service__description {
    margin-top: 20px;
    text-align: center;
    width: 55.5%;
    @media (max-width: $breakpoint_lg) {
      width: 75%;
    }
    @media (max-width: $breakpoint_sm) {
      width: 100%;
    }
  }

  .service-container-card_blue {
    background-color: var(--background-color-blue);
  }

  .service-container-card_aqua {
    background-color: var(--background-color-aqua);
  }

  .service-container-card_orange {
    background-color: var(--background-color-light-orange);
  }
  .service-container-card_dark-orange {
    background-color: var(--background-color-dark-orange);
  }

  .service-container-card {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    @media (max-width: $breakpoint_lg) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    .service-card-wrapper {
      padding: 20px;
      width: 300px;
      height: 350px;
      color: var(--color-white);
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: $breakpoint_lg) {
        margin: 0;
      }

      .service-card-wrapper-title {
      }

      .service-card__description {
        margin-top: 10px;
      }

      .service-card__button {
        width: 100%;
        padding: 12px 10px;
        margin-top: auto;
        
      }
    }
  }
}
