@import "../../../assets/styles/variables.scss";

.answers {
  padding: 130px 16px;
  @media (max-width: $breakpoint_sm) {
    padding: 70px 16px;
  }
  .answers-wrapper-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    @media (max-width: $breakpoint_lg) {
      width: 100%;
    }
    .answers__title {
      text-transform: uppercase;
    }
    .answers-wrapper-title__input {
      margin-top: 20px;
      border: 1px solid $color-grey;
      color: $color-grey;
      padding: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      &:focus {
        border: 1px solid $color-brown;
        color: $color-brown;
      }
    }
  }

  .answers-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
    @media (max-width: $breakpoint_sm) {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-top: 20px;
      border-bottom: 1px solid $color-grey;
      border-left: 1px solid $color-grey;
      border-right: 1px solid $color-grey;
      width: auto;
    }
    .answers-label {
      border-top: 1px solid $color-grey;

      padding: 6px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      text-transform: uppercase;
      width: 180px;
      cursor: pointer;
      img {
        margin-left: 10px;
      }
    }

    .answers-sort-item + .answers-sort-item {
      margin-left: 40px;
      @media (max-width: $breakpoint_sm) {
        margin-left: 0;
      }
    }
    .answers-sort-item {
      @media (max-width: $breakpoint_sm) {
        padding: 6px 10px;
      }
      .answers-sort-item__button {
        font-family: $default-font;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;

        &:hover {
          color: $color-dark-orange;
        }
      }

      .active {
        color: $color-orange;
      }
    }
  }

  .answers-accordions {
    width: 75%;
    margin: 0 auto;
    @media (max-width: $breakpoint_xl) {
      width: 100%;
    }

    .answers-accordion-wrapper {
      background-color: $background-color-light-grey;
      cursor: pointer;
      .answers-accordion-wrapper-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 15px;
        margin-top: 30px;
        img {
          margin-right: 20px;
        }
      }
      .answers-accordion-wrapper-description {
        padding: 15px 15px 0 67px;
        -webkit-transition: height ease 0.3s;
        -o-transition: height ease 0.3s;
        transition: height ease 0.3s;
        background: $background-color-white;
        height: 0;
        @media (max-width: $breakpoint_xs) {
          padding: 15px 15px 0 15px;
        }
        p {
          display: none;
        }
      }
      .open {
        height: 100%;
        p {
          display: block;
        }
      }
    }
  }
}
