@import "../../assets/styles/variables.scss";

.wrapper-burger {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  .wrapper-button-close {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .burger__button-close {
      margin-bottom: 15px;
      margin-left: auto;
    }
  }

  .burger-nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    .burger-nav__link {
      font-weight: 700;
      margin-bottom: 20px;
      &:hover {
        color: $color-orange;
      }
    }

    .burger-nav__button {
      background-color: $color-orange;
      padding: 10px 28px;
      font-size: 14px;
      line-height: 22px;

      &:hover {
        border: 2px solid $color-brown;
        padding: 8px 26px;
        background-color: transparent;
      }

      &:active {
        background-color: $color-dark-orange;
        padding: 10px 28px;
        border: none;
      }
    }
  }
}
