@import "../../assets/styles/variables.scss";

.intro {
  background-color: var(--background-color-orage);
  padding: 188px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint_lg) {
    min-height: calc(100vh - 89px);
  }

  @media (max-width: $breakpoint_xs) {
    min-height: calc(100vh - 74px);
    padding: 80px 10px;
  }
  .intro__title {
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    span {
      margin-left: 23px;
      color: var(--color-white);
      &:last-child {
        margin-left: 10px;
      }
      @media (max-width: $breakpoint_sm) {
        margin: 0;
      }
    }

    .intro-br{
      display: none;
      @media (max-width: $breakpoint_xs) {
        display: block;
      }
    }
  }

  .intro-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    @media (max-width: $breakpoint_sm) {
      flex-direction: column;
    }

    .intro-link__button {
      padding: 14px 40px;
      font-size: 18px;
      line-height: 25px;
      @media (max-width: $breakpoint_sm) {
       font-size: 14px;
       width: 290px;
      }
    }
 

    .intro-links__transparent {
      background-color: var(--background-color-transparent);
      border: 2px solid var(--color-white);
      color: var(--color-white);
      margin-right: 40px;
      @media (max-width: $breakpoint_sm) {
        margin: 0 0 20px 0;
      }
      &:hover {
        border: 2px solid var(--color-transparent);
        background-color: var(--color-white);
        color: var(--color-brown);
      }

      &:active {
        background-color: var(--color-beige);
        border: 2px solid var(--color-transparent);
      }
    }
  }
}
