@import "../../../assets/styles/variables.scss";

.intro {
  background-color: $background-color-orange;
  padding: 188px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 89px;
  @media (max-width: $breakpoint_lg) {
    min-height: calc(100vh - 89px);
  }

  @media (max-width: $breakpoint_xs) {
    min-height: calc(100vh - 74px);
    padding: 80px 10px;
  }
  .intro__title {
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    span {
      margin-left: 23px;
      color: $background-color-white;
      &:last-child {
        margin-left: 10px;
      }
      @media (max-width: $breakpoint_sm) {
        margin: 0;
      }
    }

    .intro-br {
      display: none;
      @media (max-width: $breakpoint_xs) {
        display: block;
      }
    }
  }

  .intro-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px;
    @media (max-width: $breakpoint_sm) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .intro-link__button {
      padding: 14px 40px;
      font-size: 18px;
      line-height: 25px;
      @media (max-width: $breakpoint_sm) {
        font-size: 14px;
        width: 290px;
      }
    }

    .intro-links__transparent {
      background-color: $background-color-transparent;
      border: 2px solid $background-color-white;
      color: $background-color-white;
      margin-right: 40px;
      @media (max-width: $breakpoint_sm) {
        margin: 0 0 20px 0;
      }
      &:hover {
        border: 2px solid $color-transparent;
        background-color: $background-color-white;
        color: $color-brown;
      }

      &:active {
        background-color: $color-beige;
        border: 2px solid $color-transparent;
      }
    }
  }
}
