@import "./reset.scss";
@import "./fonts.scss";
@import "./variables.scss";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-family: $default-font;
  color: $color-brown;
  background-color: $background-color-white;

  @media (max-width: $breakpoint_xs) {
    font-size: 16px;
    line-height: 18px;
  }
}

a {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

button {
  font-family: $poppins-font;
  text-transform: uppercase;
  font-weight: 700;
}

.button_second {
  margin-top: 40px;
  padding: 14px 40px;
  border: 2px solid $color-brown;
  font-size: 18px;
  line-height: 25px;

  &:hover {
    background-color: $color-orange;
    border: 2px solid $color-transparent;
  }

  &:active {
    background-color: $color-dark-orange;
    border: 2px solid $color-transparent;
  }
}

.button-transparent {
  background-color: $background-color-transparent;
  border: 2px solid $background-color-white;
  color: $background-color-white;
  &:hover {
    border: 2px solid $color-transparent;
    background-color: $background-color-white;
    color: $color-brown;
  }

  &:active {
    background-color: $color-beige;
    border: 2px solid $color-transparent;
  }
}

.button-brown {
  background-color: $background-color-brown;
  color: $background-color-white;
  border: 2px solid $color-transparent;
  &:hover {
    background-color: $background-color-white;
    color: $color-brown;
    border: 2px solid $color-transparent;
  }

  &:active {
    background-color: $color-beige;
    border: 2px solid $color-transparent;
  }
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: $breakpoint_xxl) {
    max-width: 1320px;
  }
  @media (max-width: $breakpoint_xl) {
    max-width: 1140px;
  }
  @media (max-width: $breakpoint_lg) {
    max-width: 960px;
  }
  @media (max-width: $breakpoint_md) {
    max-width: 720px;
  }
  @media (max-width: $breakpoint_sm) {
    max-width: 540px;
  }
  @media (max-width: $breakpoint_xs) {
    max-width: auto;
  }
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1 {
  font-family: $poppins-font;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

h2 {
  font-family: $poppins-font;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: $color-brown;

  @media (max-width: $breakpoint_sm) {
    font-size: 28px;
    line-height: 38px;
  }
}

h4 {
  font-family: $poppins-font;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

h6 {
  font-family: $poppins-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
