@import "./reset.scss";
@import "./fonts.scss";
@import "./variables.scss";

:root {
  --background-color-white: #fff;
  --background-color-light-grey: #f5f5f5;
  --background-color-dark: #000;
  --background-color-brown: #331110;
  --background-color-light-orange: #ffa220;
  --background-color-orage: #f98a09;
  --background-color-dark-orange: #d66300;
  --background-color-beige: #f3eeea;
  --background-color-blue: #005ddf;
  --background-color-aqua: #00dfce;
  --background-color-transparent: "transparent";
  --background-color-pink: #c5006c;

  --color-brown: #331110;
  --color-orange: #f98a09;
  --color-dark-orange: #d66300;
  --color-white: #fff;
  --color-beige: #f3eeea;
  --color-transparent: transparent;
  --color-aqua: #00dfce;
  --color-blue: #005ddf;
  --color-pink: #c5006c;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-family: $default-font;
  color: var(--color-brown);
  background-color: var(--background-color-white);

  @media (max-width: $breakpoint_xs) {
    font-size: 16px;
    line-height: 18px;
  }
}

a {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

button {
  font-family: $poppins-font;
  text-transform: uppercase;
  font-weight: 700;
}

.button_second {
  margin-top: 40px;
  padding: 14px 40px;
  border: 2px solid var(--color-brown);
  font-size: 18px;
  line-height: 25px;

  &:hover {
    background-color: var(--color-orange);
    border: 2px solid var(--color-transparent);
  }

  &:active {
    background-color: var(--color-dark-orange);
    border: 2px solid var(--color-transparent);
  }
}

.button-transparent {
  background-color: var(--background-color-transparent);
  border: 2px solid var(--color-white);
  color: var(--color-white);
  &:hover {
    border: 2px solid var(--color-transparent);
    background-color: var(--color-white);
    color: var(--color-brown);
  }

  &:active {
    background-color: var(--color-beige);
    border: 2px solid var(--color-transparent);
  }
}

.button-brown {
  background-color: var(--background-color-brown);
  color: var(--color-white);
  border: 2px solid var(--color-transparent);
  &:hover {
    background-color: var(--color-white);
    color: var(--color-brown);
    border: 2px solid var(--color-transparent);
  }

  &:active {
    background-color: var(--color-beige);
    border: 2px solid var(--color-transparent);
  }
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: $breakpoint_xxl) {
    max-width: 1320px;
  }
  @media (max-width: $breakpoint_xl) {
    max-width: 1140px;
  }
  @media (max-width: $breakpoint_lg) {
    max-width: 960px;
  }
  @media (max-width: $breakpoint_md) {
    max-width: 720px;
  }
  @media (max-width: $breakpoint_sm) {
    max-width: 540px;
  }
  @media (max-width: $breakpoint_xs) {
    max-width: auto;
  }
}

.container-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: $poppins-font;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

h2 {
  font-family: $poppins-font;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: var(--color-brown);

  @media (max-width: $breakpoint_sm) {
    font-size: 28px;
    line-height: 28px;
  }
}

h4 {
  font-family: $poppins-font;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
