@import './fonts.scss';

$content-width: 1400px;

$default-font: "AnonymousPro";
$poppins-font: "Poppins", sans-serif;
$montserrat-font: "Montserrat", sans-serif;


$breakpoint_xxl: 1400px;
$breakpoint_xl: 1200px;
$breakpoint_lg: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
$breakpoint_xs: 375px;

