@import "../../assets/styles/variables.scss";

.accordions {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: $breakpoint_md) {
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
  }
  .accordion-wrapper + .accordion-wrapper {
    margin-left: 40px;
    @media (max-width: $breakpoint_lg) {
      margin-left: 20px;
    }
    @media (max-width: $breakpoint_md) {
      margin-left: 0;
    }
  }
  .accordion-wrapper {
    background-color: var(--background-color-beige);
    padding: 20px;
    margin-top: 40px;
    cursor: pointer;
    @media (max-width: $breakpoint_sm) {
      margin-top: 20px;
    }
    .accordion-wrapper-title {
      display: flex;
      align-items: center;
      color: var(--color-dark-orange);
      @media (max-width: $breakpoint_md) {
        justify-content: space-between;
      }
      .accordion-pointer {
        margin-left: 28px;
        @media (max-width: $breakpoint_lg) {
          margin-left: 10px;
        }
        @media (max-width: $breakpoint_md) {
          margin-left: 28px;
        }
      }
    }
    .accordion-wrapper-description {
      height: 0;
      transition: height ease 0.3s;
      p {
        display: none;
      }
    }

    .open {
      margin-top: 20px;
      height: 180px;

      p {
        display: block;
      }
    }
  }
}
